.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-start {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.flex-start-aligned-center {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.scrollable {
    overflow-y: scroll;
}

.not-displayed {
    display: none;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-space-between {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.width-20 {
    width: 20;
}

.width-600{
    width: 600px;
} 

.width-630{
    width: 630px;
} 

.width-200{
    width: 200px;
} 

.width-590 {
    width: 590px;
}

.width-550 {
    width: 550px;
}

.max-height-65 {
    max-height: 65px;
}

.max-height-500 {
    max-height: 500px;
}

.line-break {
    word-break: break-word;
}

.display-inherit {
    display: inherit;
}

.padding-left-10 {
    padding-left: 10px;
}

.padding-right-15 {
    padding-right: 15px;
}

.padding-15 {
    padding: 15px;
}

.padding-right-30 {
    padding-right: 30px;
}

.padding-5 {
    padding: 5px;
}

.padding-top-25 {
    padding-top: 25px;
}

.height-100 {
    height: 100px;
}

.height-30 {
    height: 30px;
}

.margin-bot-70 {
    margin-bottom: 70px;
}

.margin-bot-20 {
    margin-bottom: 20px;
}

.margin-top-25 {
    margin-top: 25px;
}

.margin-left-250 {
    margin-left: 250px;
}

.margin-left-350 {
    margin-left: 350px;
}

.margin-bot-40 {
    margin-bottom: 40px;
}

.margin-left-20 {
    margin-left: 20px;
}

.flex-column {
    flex-direction: column;
}

.bg-black {
    background-color: rgb(34, 34, 34);
}

.error-msg {
    color: red;
}

.full-screen {
    height: 100vh;
}

.white-text {
    color: white;
}