.dark-button {
    height: 30px;
    background-color: #343537;
    width: 120px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: white;
    cursor: pointer;
}

.username {
    font-size: xxx-large;
    padding-top: 15px;
    padding-bottom: 25px;
}

.modal {
    position: absolute;
    width: 650px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-left: 50px;
    background: #a6a6a6;
}

.post {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 600px;
    background: #a6a6a6;
}

.side-navigation-bar {
    position: absolute;
}

.instrument-name-select > div {
    border: none;
    cursor: pointer;
}

.add-instrument-icon {
    width: 20px;
    height: 20px;
    background-color: white;
    border: none;
    cursor: pointer;
}